# Simple Linear Regression

In [1]:
# Import Pandas for data processing
import pandas as pd

In [3]:
# Read the CSV file
dataset = pd.read_csv('Students.csv')
df = dataset.copy()
df

    Hours  Marks
0       0     34
1       1     36
2       1     33
3       1     39
4       1     42
5       2     45
6       2     38
7       3     45
8       3     53
9       3     46
10      3     56
11      4     59
12      4     55
13      4     56
14      5     72
15      5     59
16      6     62
17      6     71
18      7     78
19      7     88
20      7     61
21      7     74
22      8     71
23      8     89
24      9     82
25      9     67
26      9     89
27     10     81
28     10     82
29     11     79

In [10]:
# Split into X (Independent) and Y (predicted)
X = df.iloc[:, :-1]
Y = df.iloc[:, -1]

In [11]:
# create the training and test datasets
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = \
train_test_split(X, Y, test_size = 0.3, random_state=42)

In [12]:
# train the simple linear regression
from sklearn.linear_model import LinearRegression
std_reg = LinearRegression()
std_reg.fit(x_train, y_train)

LinearRegression()

In [13]:
# predict the results
y_predict = std_reg.predict(x_test)

In [14]:
# get the R-Squared
# this number will be between 0-1. You want the number close to 1
slr_score = std_reg.score(x_test, y_test)
slr_score

0.8538655334937387

In [15]:
# Coefficient and Intercept
slr_coefficient = std_reg.coef_
slr_intercept = std_reg.intercept_
print(slr_coefficient)
print(slr_intercept)

[5.01757188]
34.87037882245551

In [16]:
# Equation of the line
# y = 34.87 + 5.02 * X

In [18]:
# calculate the errors using RMSE
from sklearn.metrics import mean_squared_error
import math

slr_rmse = math.sqrt(mean_squared_error(y_test, y_predict))
slr_rmse

5.649978969000284

In [20]:
# plot the result using matplotlib
import matplotlib.pyplot as plt
%matplotlib
plt.scatter(x_test, y_test)
plt.plot(x_test, y_predict)
plt.ylim(ymin=0)
plt.show()

Using matplotlib backend: MacOSX